<!DOCTYPE html>
<html >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/mdl/material.min.css">
    <link rel="stylesheet" href="~/Content/mdl/dataTables.material.min.css"/>
    <link rel="stylesheet" href="~/Content/style.css">

    @Styles.Render("~/font-awesome/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body ng-app="MyApp">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">
                    @Html.ActionLink("Lotify", "Index", "Home", new { area = "" }, new { @class = "mdl-navigation__link" })
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>


                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    @Html.Partial("_LoginPartial")
                </nav>

            </div>
        </header>

        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                @Html.ActionLink("Inicio", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Acerca de", "About", "Home", new { @class = "mdl-navigation__link" })
                @Html.Partial("_LoginPartial")
            </nav>
        </div>

        <main class="mdl-layout__content fondo-lotify">
            <div class="page-content">
                @RenderBody()
            </div>
        </main>
    </div>

    
  


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>

    @Scripts.Render("~/mdl/js")
    <script src="~/Scripts/datatables/dataTables.material.min.js"></script>

    <!--Angular-->
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-local-storage.min.js"></script>
    <script src="~/Scripts/angular/angular-datatables.js"></script>

    <script src="~/Scripts/app/app.js"></script>
    <!--Services-->
    <script src="~/Scripts/app/services/appService.js"></script>

    <script src="~/Scripts/app.js"></script>

    <script>
        $(document).ready(function () {
            $('#lotifyTable').DataTable();
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>